.mat-sidenav-container{
  min-height: 93vh !important;
}
.mat-toolbar{
  min-height: 45px !important;
  height: 45px !important;
  background-color:#5680E9;
}
.mat-toolbar-row{
  min-height: 45px !important;
  height: 45px !important;
}

.mat-icon,.mat-icon-button,.mat-button{
 background-color:#5680E9 ;
 color: white !important;
}

.companyName{
  font-size: 200%;
  font-family: "Times New Roman", Times, serif;
}
a, a:hover {
    color: white;
    text-decoration: none;
}



