
<div class="content">
  <div fxLayout="row wrap">
    <div fxFlex="25%" *ngFor="let num of [1,2,3,4,5,6]">
      <mat-card>
        <mat-card-title>
          Card title
        </mat-card-title>
        <img mat-card-image src="./../assets/images/italian.jpeg">
        <mat-card-content>
          This is the card content
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-flat-button>Place order</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
